body{
    font-family: 'Abril Fatface', cursive;

}



#topSpace{
    background-color: rgb(6, 170, 0);
    height: 50px;
    margin-top: -6px;
    padding-top: -6px;
}

#fullLogo{
    border-top: -10px;
    margin-top: -10px;
      margin-left: 300px;
      padding-top: -10px;
}


h1,h2{
    text-align: center;
}

#about{
    text-align: center;
}
#contact{
    text-align: center;
}


#festivalPic{
    margin-left: 520px;
}

#footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(6, 170, 0);
    height: 50px;
    padding-top: 5px;
    margin-bottom: 6px;
    padding-left: 575px;
    padding-bottom: 80px;
}
